body {
	width:960px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}


header {
	width:150px;
	height:72px;
	padding-left: 20px;
	margin-left: 140px;
	margin-top: 10px;
	background-color: #4aaaa5;
	float: left;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bolder;
	color: #fff;
	font-size: 150%;
	text-align: left;
}

#navigation {
	
	float: left;
	font-family: 'Georgia', Times, Times New Roman, serif;
	height: 42px;
	margin-left: 375px;
	margin-top: 40px;
	color: #b2afac;
	font-weight: bold;
	text-align: center;
	font-size: 100%;


}

#navigation ul
{
	margin: 0;
	padding: 0;
}
#navigation ul li
{
	list-style-type: none;
	display:inline;
	
}

#navigation li:not(:first-child):before {
	content: " | ";
	margin-left: 12px;
	margin-right: 12px;

}

#navigation li a {
	text-decoration: none;
	color:#b2afac;
}

section {
	clear:both;
	height: 530px;
	background-image: url("../images/ep_naturalblack.png");
}

article {
	float:left;
	height: 425px;
	width: 450px;
	margin-top: 35px;
	margin-left: 140px;
	margin-bottom: 40px;
	padding-top: 30px;
	padding-left: 20px;
	padding-right:20px;
	color: #4aaaa5;
	font-weight: bolder;
	font-size: 125%;
	font-family: serif;
	background-color: #fff;
	border-bottom-color: 2px solid gray;
}

#aMe {
	height:40px;
	font-size: 150%;
	border-bottom: 2px solid #bbb;
	padding-bottom: 10px;
}

#catImage {
	float: left; 
	margin: 4px 10px 0px 0px;
}
#aText {
	color: gray;
	margin-top: 20px;
	font-size: 85%;
	line-height: 175%;
	word-wrap: break-word;
}
aside {
	float: left;
	width: 205px;
	height: 150px;
	margin-top: 35px;
	padding-top: 15px;
	padding-left:20px;
	padding-right: 20px;
	margin-left: 35px;
	margin-right: 40px;
	color: #4aaaa5;
	font-weight: bolder;
	font-size: 115%;
	font-family: serif;
	background-color: #fff;
}

#cText {
	height: 20px;
	width: 190px;
	margin-left: 5px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 125%;
	padding-bottom: 20px;
	border-bottom: 2px solid #bbb;
	
}
footer {
	clear: both;
	text-align: center;
	height: 48px;
	padding-top: 30px;
	background: #666666;
	border-top: 7px solid #4aaaa5;
	color: #b7b5aa; 

}

.images {
	float: left;
	margin: 25px 0px 0px 10px;
	height: 55px;
	width: 55px;

}

.box1 {
	border:1px solid #dddddd;
	color: #777777;
	padding:8px 0px 8px 8px;
	margin-bottom: 10px;
	font-size: 65%;

}


.cFormHeader {
	color: #777777;
	margin-bottom: 5px;
}

#submitButton {
	background-color: #4aaaa5;
	color:#fff;
	width: 65px;
	padding: 7px 20px 7px 20px;
	text-align: center;

}


#photos {
	margin-top: 30px;
	margin-left: 10px;
	position: relative;
}

#photos a {
	display: inline-block
}

#photos img {
	position: relative;
	float: left;
	margin-bottom: 40px;
	
}

#photos p {
	color: #ffffff;
	position: absolute;
	transform: translate(0%, 275%);
	color: #fff;
	text-align: center;
	background-color: #4aaaa5;
	width: 45.5%;
	height: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
}


@media screen and (max-width: 980px) {

	
}

@media screen and (max-width: 768px) {

	
}

@media screen and (max-width: 640px) {

body {
	width:640px;

}


header {

	width:640px;
	height:72px;
	padding-left: 0;
	margin-left: 0;
	margin-top: 0;
	float:none;
	text-align: match-parent;

}

#navigation {
	
	float: none;
	height: 42px;
	margin-left: 0;
	margin-top: 0;
	font-size: 100%;
	text-align: left;

}

article {
	float:none;
	height: 425px;
	width: 640px;
	margin-top: 35px;
	margin-left: 0;
	margin-bottom: 40px;
	padding-top: 30px;
	padding-left: 20px;
	padding-right:20px;
	color: #4aaaa5;
	font-weight: bolder;
	font-size: 125%;
	font-family: serif;
	background-color: #fff;
	border-bottom-color: 2px solid gray;
}

#catImage {
	float: none; 
	margin: 4px 10px 0px 0px;
}

#aMe {
	height:40px;
	font-size: 150%;
	border-bottom: 2px solid #bbb;
	padding-bottom: 10px;
}
#aText {
	color: gray;
	margin-top: 20px;
	font-size: 85%;
	line-height: 175%;
	word-wrap: normal;
}
aside {
	float: none;
	width: 205px;
	height: 150px;
	margin-top: 35px;
	padding-top: 15px;
	padding-left:20px;
	padding-right: 20px;
	margin-left: 35px;
	margin-right: 40px;
	color: #4aaaa5;
	font-weight: bolder;
	font-size: 115%;
	font-family: serif;
	background-color: #fff;
}

#cText {
	height: 20px;
	width: 190px;
	margin-left: 5px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 125%;
	padding-bottom: 20px;
	border-bottom: 2px solid #bbb;
	






}